input {
  margin: 10px;
  padding: 5px 10px;
  font-size: 20px
}

.form {
  font-size: 20px;
  padding: 10px;
}

.form button {
  padding: 5px 20px;
  margin: 20px;
  font-size: 20px;
  background-color: rgb(30, 230, 146);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 0 2px white, 0 0 0 5px rgb(30, 230, 146);
  cursor: pointer;
  transition: .2s;
}

.form button:hover {
box-shadow: 0 0 0 4px white, 0 0 0 7px rgb(30, 230, 146);
letter-spacing: 2px;
}

